 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     padding: 10px 5%;
     width: 100%;
     background: #010101;
     color: white;
 }
 .navbar a{
     color: white;
 }
 .navbar span{
     color: rgb(56, 56, 226);
 }
 .navbar-nav a{
     margin: 10px;
     color: white;
     font-family: sans-serif;
 }
 .navbar-search a {
     color: white;
 }